<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Geo" version="1.0.1" targetFramework="net472" />
  <package id="GeoAPI" version="1.7.5" targetFramework="net472" />
  <package id="GeoAPI.CoordinateSystems" version="2.0.0-nuget005" targetFramework="net472" />
  <package id="GeoAPI.Core" version="2.0.0-nuget005" targetFramework="net472" />
  <package id="Nager.Country" version="4.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net472" />
  <package id="NGeo" version="1.9.0.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
</packages>